@import url("https://fonts.googleapis.com/css?family=Cabin");
body {
  background-color: pink;
  font-family: 'Cabin', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0; }

h1 {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-size: 80px;
  width: 100%;
  margin-top: 100px; }

header {
  position: fixed;
  width: 100%;
  background-color: white; }
  header img {
    float: left; }
  header nav {
    width: 100%;
    position: absolute; }
    header nav .hamburger {
      display: none; }
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: right; }
      header nav ul .active {
        border-bottom: 5px solid green; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          font-size: 20px;
          font-weight: bold;
          display: block;
          color: black;
          text-align: center;
          padding: 3px 16px;
          padding-top: 50px;
          text-decoration: none; }
          header nav ul li a:hover {
            background-color: green; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 100px; }
  .grid-container .grid-item {
    background-color: #D3D3D3;
    box-shadow: 12px 12px 8px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    margin: auto;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 400px;
    height: 300px;
    text-align: center; }
    .grid-container .grid-item .hidden {
      display: none;
      border: 1px solid black; }
    .grid-container .grid-item img {
      width: 200px;
      height: 200px;
      align-items: center; }
    .grid-container .grid-item h1 {
      font-weight: 300;
      font-size: 20px;
      margin-top: -40px; }
    .grid-container .grid-item p {
      margin-top: 30px;
      max-width: 100%;
      font-size: 16pt; }
    .grid-container .grid-item a {
      text-align: inherit;
      margin-top: 30px;
      float: right; }

.search form {
  display: block;
  margin: auto;
  width: 800px;
  height: 100px;
  border: 1px solid black; }
  .search form input {
    width: 700px;
    height: 100px;
    border: none;
    font-size: 80px;
    margin: 0px; }
  .search form button {
    float: right;
    background: #ddd;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px; }
    .search form button img {
      width: 100%; }
    .search form button :hover {
      background: #ccc; }

.templateBox {
  display: block;
  margin: auto;
  position: relative;
  border: 3px solid black;
  max-width: 1000px;
  width: 80%;
  min-height: 100px;
  margin-top: 10px; }
  .templateBox .templateInfo {
    display: none;
    border: 1px solid black;
    width: 100%;
    min-height: 400px;
    overflow: visible; }
  .templateBox h2 {
    font-size: 50px;
    float: left;
    display: block;
    margin: auto;
    margin-top: 15px; }
  .templateBox .circle:before {
    content: ' \25CF';
    font-size: 100px;
    color: black;
    float: right;
    margin-top: -18px;
    margin-right: 5px; }

.logo {
  background-color: red;
  width: 250px;
  border: solid 2px black; }

.title {
  margin: auto; }

.page {
  display: none; }

.content {
  margin: 0;
  height: 1200pt;
  width: 100%; }
  .content .banner {
    width: 100%;
    height: 50%;
    background-color: green; }
    .content .banner #topbutton {
      display: none;
      right: 0%;
      width: 35px;
      position: fixed;
      margin-top: 80px;
      background-color: white;
      padding: 20px 25px 10px 25px; }
      .content .banner #topbutton img {
        width: 25px;
        height: 25px; }
    .content .banner img {
      position: absolute;
      bottom: 32%;
      right: 0;
      width: 900px; }
  .content .mainBody {
    width: 100%;
    height: 60%;
    background-color: white; }
    .content .mainBody h1 {
      margin: 0; }
    .content .mainBody .selection {
      display: grid;
      margin-top: 100px;
      width: 100%;
      grid-template-columns: auto auto auto; }
      .content .mainBody .selection .options {
        display: block;
        width: 300px;
        height: 300px;
        margin: auto;
        position: relative; }
        .content .mainBody .selection .options svg {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0); }
        .content .mainBody .selection .options img {
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, 0);
          max-width: 150px;
          max-height: 150px; }
        .content .mainBody .selection .options h3 {
          max-width: 200pt;
          min-height: 30pt;
          max-height: 50pt;
          background-color: white;
          text-align: center; }

.closingInfo {
  background-color: green;
  width: 100%;
  height: 30%; }

footer {
  width: 100%;
  height: 5%;
  background-color: red;
  color: white;
  text-align: center; }
  footer p {
    margin: 0; }

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .logo {
    display: block;
    margin: auto; }

  .page {
    display: block; }

  nav {
    margin-top: 30px; }
    nav ul li {
      display: none; }
    nav .responsive {
      position: relative; }
      nav .responsive li {
        width: 100%;
        height: 100px;
        display: block;
        text-decoration: none;
        background-color: #D3D3D3;
        margin-top: 1px;
        border-bottom: 0px; }
        nav .responsive li:hover {
          background-color: white;
          border-bottom: 8px solid green; }
        nav .responsive li a {
          padding: 30px;
          font-size: 30px;
          color: green; }
          nav .responsive li a:hover {
            background-color: white; }
    nav .hamburger {
      float: right;
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      margin-top: 5px;
      margin-right: 5px; }
      nav .hamburger div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0; }

  h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 20pt; }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: green;
    width: 100%;
    padding-left: 0px; }
    .grid-container .grid-item {
      background-color: pink;
      border: 1px solid black;
      font-size: 30px;
      max-width: 90%;
      margin: 0;
      margin-bottom: 10px;
      height: 150px; }
      .grid-container .grid-item .icons {
        width: 60px;
        height: 60px; }
      .grid-container .grid-item img {
        float: right;
        width: 50px;
        height: 50px; }
      .grid-container .grid-item p {
        max-width: 60%;
        padding: auto;
        margin-left: auto;
        max-height: 100%;
        font-size: 12pt; }
      .grid-container .grid-item a {
        float: right; }

  .coverphoto {
    display: none; } }
/* For mobile phones: */

/*# sourceMappingURL=stylesheet.css.map */
