@import url("https://fonts.googleapis.com/css?family=Cabin");
body{
  background-color: pink;
  font-family: 'Cabin', sans-serif;
  height:100%;
  width:100%;
  margin: 0;
}

h1{
  font-family: 'Cabin', sans-serif;
  text-align:center;
  font-size: 80px;
  width:100%;
  margin-top:100px;
}
header{
  position: fixed;
  width:100%;
  background-color: white;

  img{
    float:left;
  }
nav{
  width:100%;

  .hamburger{
    display: none;
    }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
    .active { border-bottom: 5px solid green; }
      li{
        display: inline-block;
        a{
          font-size: 20px;
          font-weight: bold;
          display: block;
          color: black;
          text-align: center;
          padding: 3px 16px;
          padding-top:50px;
          text-decoration: none;
          &:hover {
            background-color:green;
          }
        }
      }

  }
}
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 100px;

  .grid-item {
    background-color: #D3D3D3; //DARK GRAY
    box-shadow: 12px 12px 8px 5px rgba(0,0,0,0.2);
    border: 1px solid black;
    margin: auto;
    margin-bottom: 50px;
    margin-right:10px;
    margin-left:10px;
    font-family: 'Cabin', sans-serif;
    font-weight:100;
    font-size: 30px;
    width:400px;
    height:300px;
    text-align: center;

    .hidden{
      display: none;
      border:1px solid black;
    }
    img{
      width:200px;
      height:200px;
      align-items: center;
    }
    h1{
      font-weight:300;
      font-size: 20px;
      margin-top: -40px;
    }
    p{
      margin-top:30px;
      max-width:100%;
      font-size:16pt;
    }
    a{
      text-align: inherit;
      margin-top:30px;
      float:right;
    }
  }
}
.search{
form{
  display: block;
  margin:auto;
  width:800px;
  height:100px;
  border:1px solid black;

  input{
    width:700px;
    height:100px;
    border: none;
    font-size: 80px;
    margin:0px;
  }
  button{
    float: right;
    background: #ddd;
    border: none;
    cursor: pointer;
    height:100px;
    width:100px;

    img{
      width:100%;
    }
  :hover{
    background:#ccc;
  }

  }
}
}

.templateBox{
  display: block;
  margin:auto;
  position:relative;
  border: 3px solid black;
  max-width: 1000px;
  width:80%;
  min-height:100px;
  margin-top:10px;

  .templateInfo{
    display: none;
    border: 1px solid black;
    width:100%;
    min-height:400px;
    overflow:visible;

}
  h2{
    font-size: 50px;
    float: left;
    display: block;
    margin: auto;
    margin-top:15px;
  }

  .circle:before{
    content: ' \25CF';
    font-size: 100px;
    color: black; //Change Colour
    float:right;
    margin-top:-18px;
    margin-right:5px;
  }
}

.logo{
  background-color: red;
  width:250px;
  border:solid 2px black;
}

.title{
  margin:auto;
}

.page{
  display: none;
}

.content{
  margin: 0;
  height: 1200pt;
  width: 100%;

  .banner{
    width:100%;
    height:50%;
    background-color: green;

    #topbutton{
      display: none;
      right:0%;
      width:35px;
      position: fixed;
      margin-top:80px;
      background-color: white;
      padding:20px 25px 10px 25px;

      img{
        width:25px;
        height:25px;
      }
    }

    img{
      position:absolute;
      bottom:32%;
      right:0;
      width:900px;
    }
  }

  .mainBody{
    width:100%;
    height:60%;
    background-color: white;

    h1{
      margin:0;
    }

  .selection{
    display: grid;
    margin-top:100px;
    width:100%;
    grid-template-columns: auto auto auto;

    .options{
      display:block;
      width:300px;
      height:300px;
      margin:auto;
      position: relative;


      svg{
        position: absolute;
        left:50%;
        transform: translate(-50%,0);
      }

      img{
        position: absolute;
        top:20%;
        left:50%;
        transform: translate(-50%,0);
        max-width:150px;
        max-height:150px;
      }

      h3{
        max-width:200pt;
        min-height:30pt;
        max-height:50pt;
        background-color: white;
        text-align: center;
      }
    }
}
  }
}

.closingInfo{
  background-color: green;
  width:100%;
  height:30%;
}

footer{

   width: 100%;
   height:5%;
   background-color: red;
   color: white;
   text-align: center;

   p{
     margin:0;
   }
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  .logo{
    display: block;
    margin: auto;
  }
  .page{
    display: block;
  }

  nav{
    margin-top:30px;
    ul li{
        display:none;
        }

      .responsive{
        position:relative;

        li{
          width:100%;
          height:100px;
          display: block;
          text-decoration: none;
          background-color: #D3D3D3;
          margin-top:1px;
          border-bottom:0px;

          &:hover{
            background-color: white;
            border-bottom:8px solid green;
          }
          a{
            padding:30px;
            font-size: 30px;
            color:green;
            &:hover{
              background-color: white;

            }
          }
        }
      }
      .hamburger{
        float: right;
        display: block;
        position:fixed;
        right:0;
        top:0;
        margin-top: 5px;
        margin-right: 5px;
        div{
          width: 35px;
          height: 5px;
          background-color: black;
          margin: 6px 0;
        }
      }
    }


  h1{
    font-family: 'Cabin', sans-serif;
    font-size: 20pt;
    }

    .grid-container{
      display: grid;
      grid-template-columns: auto;
      background-color: green;
      width: 100%;
      padding-left: 0px;

      .grid-item {
        background-color: pink;
        border: 1px solid black;
        font-size: 30px;
        max-width:90%;
        margin:0;
        margin-bottom:10px;
        height:150px;

        .icons{
          width:60px;
          height: 60px;
        }

        img{
          float: right;
          width:50px;
          height: 50px;
        }
        p{
          max-width: 60%;
          padding: auto;
          margin-left: auto;
          max-height: 100%;
          font-size: 12pt;
        }
        a{
          float:right;
        }
      }
    }
    .coverphoto{
      display: none;
    }
  }/* For mobile phones: */
